// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Import
@import 'partials/variables';
@import 'partials/navbar';
@import 'partials/admin';
@import 'partials/main';
@import 'partials/jumbo';
@import 'partials/show';
@import 'partials/must_read';
@import 'partials/footer';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 20px;
}
.bg_white{
    background-color: white;
}
.active{
    color: black;
    border-bottom: 4px solid #0082F9;
}

