.jumbo{
    width: 100%;
    margin-top: 30px;
    background-color: #1C1C1C;
    .pre_card{
        display: flex;
        width: 100%;
        height: 50px;
        justify-content: space-around;
        align-items: flex-end;
        h2{
            text-transform: uppercase;
            background-color: #0082F9;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            padding: 10px 20px;
            margin-bottom: 30px;
            font-weight: 900;
        }
        .right_menu_jumbo{
            display: flex;
            text-transform: uppercase;
            margin-top: 50px;
            li{
                padding: 0 10px;
                a{
                    font-family: Arial, Helvetica, sans-serif;
                    color: gray;
                    font-size: 0.8rem;
                    font-weight: 800;
                }
            }
        }
    }
    .card_container{
        width: 100%;
        height: 550px;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        .tit_id{
            display: flex;
        }
        h6{
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            text-transform: uppercase;
            padding-right: 10px;
            padding-top: 10px;
        }
        p{
            color: #0082F9;
            text-transform: uppercase;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 0.8rem;
            font-weight: 800;
        }
    }
}


