.bg_show{
    margin-top: -20px;
    width: 100%;
    height: 100px;
    z-index: 2;
    .showim{
        width: 100%;
        height: 370px;
        z-index: 2;
        
        
    }
    
}
.cont_show{
    width: 60%;
    height: 200px;
    z-index: 2;
    .img_cover_show{
        height: 290px;
        border: 1px solid white;
        margin-top: 30px;
        z-index: 2;
    }
}
.bg_blue{
    width: 100%;
    background-color: #0082F9;
    height: 150px;
    z-index: 0;
}
